.Activity {
    position: relative;
}

.ActivityDetail {
    text-align: center;
    padding: 1.5rem;
    background-color: #1d204b;
    border-radius: 10px;
    position: relative;
    z-index: 100;
}

.Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ResultRow {
    margin-top: 10px;
}

.CurrentResult {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
}

.ActivityTitle {
    font-size: 0.9rem;
    color: #fff;
}

@media (min-width: 900px) {
    .ResultRow {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-top: 16px;
    }

    .CurrentResult {
        margin-bottom: 12px;
    }

    .Activity {
        width: 20vw;
        min-width: 200px;
    }

    .Work {
        grid-area: work;
    }

    .Play {
        grid-area: play;
    }

    .Study {
        grid-area: study;
    }

    .Exercise {
        grid-area: exercise;
    }

    .Social {
        grid-area: social;
    }

    .SelfCare {
        grid-area: self-care;
    }
}
