.ProfileDetail {
    padding: 20px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
    margin-bottom: -20px;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
}

.ProfilePic {
    border-radius: 50%;
    border: solid 3px white;
    width: 16.6vw;
    height: 16.6vw;
    max-width: 70px;
    max-height: 70px;
    margin-right: 20px;
}

.ReportFor {
    display: inline-block;
    text-align: left;
}

@media (min-width: 900px) {
    .Profile {
        grid-area: profile;
        height: 100%;
        width: 20vw;
        max-width: 240px;
    }

    .ProfileDetail {
        height: 65%;
        display: block;
        text-align: left;
    }

    .ProfilePic {
        margin-bottom: 20px;
        display: block;
    }

    .ReportFor {
        display: block;
    }
}
