@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 0.7rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0d1323;
    color: hsl(236, 100%, 87%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h3 {
    margin-block: auto;
    font-weight: lighter;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 0.3rem;
}
